:root {
  --primary-color: #39a6b2;
  --secondary-color: #fce138;
  --tertiary-color: #024e76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary-color);
}

section {
  padding: 60px;
}

/* apply styles to <header> */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 35px;
  background-color: var(--primary-color);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 5px;
  opacity: 0.8;
}

header a {
  color: var(--secondary-color);
  text-decoration: none;
}

/*apply style to hero section */
.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
}

.hero-cta > h2 {
  font-style: italic;
  font-size: 55px;
  color: var(--secondary-color);
}

.hero-form {
  width: 40%;
  margin: 3.5%;
  background-color: var(--secondary-color);
  padding: 20px;
  color: var(--tertiary-color);
  border: 3px solid var(--tertiary-color);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form p {
  margin: 5px 0 15px;
}

.form-input {
  border: 1px solid var(--tertiary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--tertiary-color);
  width: 100%;
  margin-bottom: 15px;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  display: block;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

/* what we do and what you do sections */

.section-title {
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px;
  width: 50%;
  font-size: 55px;
  color: var(--tertiary-color);
  border-bottom: 3px solid;
}

.primary-border {
  border-color: var(--secondary-color);
}
.secondary-border {
  border-color: var(--primary-color);
}

.intro p {
  line-height: 1.7;
  color: var(--primary-color);
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

.steps {
  background: var(--secondary-color);
}

.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.step h3 {
  color: var(--tertiary-color);
  font-size: 46px;
  flex: 1 30%;
}

.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-img {
  flex: 1 12%;
  margin-right: 20px;
}

.step-img img {
  width: 100%;
}

.step-text {
  flex: 12;
}

.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: var(--tertiary-color);
}

.step-text p {
  color: var(--primary-color);
  font-size: 18px;
}

/* meet the trainer section */

.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trainer {
  text-align: center;
  margin: 20px;
  background: var(--tertiary-color);
  color: var(--secondary-color);
  flex: 1;
}

.trainer img {
  width: 100%;
}

.trainer-bio {
  padding: 25px;
  line-height: 1.3;
}

.trainer-bio h3 {
  font-size: 28px;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.trainer-bio p {
  font-size: 17px;
}

/* reach out section */
.contact {
  background: var(--tertiary-color);
}

.contact h2 {
  color: var(--secondary-color);
}

.contact-info {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info iframe {
  height: 400px;
  border: none;
  margin-right: 60px;
}

.contact-info > div {
}

.contact-info div h3 {
  color: var(--secondary-color);
  font-size: 36px;
  margin-bottom: 25px;
}

.contact-info > div > p,
.contact-info > div > address {
  color: #fff;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 25px;
}

.contact-info > div > address > a {
  color: var(--secondary-color);
}

.contact-form input,
.contact-form textarea {
  border: 1px solid var(--tertiary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--tertiary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--secondary-color);
  color: var(--tertiary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
}

/* apply styles to <footer> */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  color: var(--primary-color);
  font-size: 30px;
}

footer span {
  color: red;
}

footer > div {
  line-height: 1.5;
  text-align: right;
}

footer > a {
  color: var(--tertiary-color);
}

/* Utilities */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}
