:root {
  --primary-color: #39a6b2;
  --secondary-color: #fce138;
  --tertiary-color: #024e76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary-color);
}

section {
  padding: 60px;
}

/* apply styles to <header> */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 35px;
  background-color: var(--primary-color);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);

}

header nav {
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

header nav ul li a:hover {
  border-bottom: 3px solid var(--secondary-color);
  padding-bottom: 5px;
  opacity: 0.8;
}

header a {
  color: var(--secondary-color);
  text-decoration: none;
}

/*apply style to hero section */
.hero {
  background-image: url(../images/hero-bg.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-form {
  background-color: var(--secondary-color);
  padding: 20px;
  width: 500px;
  color: var(--tertiary-color);
  border: 3px solid var(--tertiary-color);
  position: absolute;
  bottom: 120px;
  right: 140px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form p {
  margin: 5px 0 15px;
}

.form-input {
  border: 1px solid var(--tertiary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--tertiary-color);
  width: 100%;
  margin-bottom: 15px;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  display: block;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

/* what we do and what you do sections */
.intro {
  text-align: center;
}

.section-title {
  font-size: 55px;
  color: var(--tertiary-color);
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  display: inline-block;
}

.primary-border {
  border-color: var(--secondary-color);
}
.secondary-border {
  border-color: var(--primary-color);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.intro p {
  line-height: 1.7;
  color: var(--primary-color);
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

.steps {
  text-align: center;
  background: var(--secondary-color);
}

.steps div {
  margin-bottom: 80px;
}

.steps img {
  width: 15%;
  margin: 10px 0;
}

.steps h3 {
  color: var(--tertiary-color);
  font-size: 46px;
  margin-top: 10px;
}

.steps p {
  color: var(--primary-color);
  font-size: 23px;
}

.steps span {
  font-size: 38px;
}

/* meet the trainer section */

.trainers {
  text-align: center;
}

.trainer {
  text-align: center;
  width: 900px;
  margin: 0 auto 30px;
  background: var(--tertiary-color);
  color: var(--secondary-color);
  overflow: auto;
}

.trainer img {
  width: 35%;
  float: left;
}

.trainer-bio {
  padding: 35px;
  float: left;
  width: 65%;
}

.trainer-bio h3 {
  font-size: 32px;
  margin-bottom: 8px;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 25px;
}

.trainer-bio p {
  font-size: 17px;
  line-height: 1.3;
}

/* reach out section */
.contact {
  text-align: center;
  background: var(--tertiary-color);
}

.contact h2 {
  color: var(--secondary-color);
}

.contact-info {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info iframe {
  width: 400px;
  height: 400px;
  border: none;
  margin-right: 60px;
}

.contact-info > div {
  text-align: left;
}

.contact-info div h3 {
  color: var(--secondary-color);
  font-size: 36px;
  margin-bottom: 25px;
}

.contact-info > div > p,
.contact-info > div > address {
  color: #fff;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
  margin-bottom: 25px;
}

.contact-info > div > address > a {
  color: var(--secondary-color);
}

/* apply styles to <footer> */
footer {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  display: inline;
  color: var(--primary-color);
  font-size: 30px;
}

footer span {
  color: red;
}

footer > div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer > a {
  color: var(--tertiary-color);
}
