:root {
  --primary-color: #39a6b2;
  --secondary-color: #fce138;
  --tertiary-color: #024e76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary-color);
}

section {
  padding: 60px;
}

/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: var(--primary-color);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
  display: inline;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

header a {
  color: var(--secondary-color);
  text-decoration: none;
}

/*apply style to hero section */
.hero {
  background-image: url(../images/hero-bg.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-form {
  background-color: var(--secondary-color);
  padding: 20px;
  width: 500px;
  color: var(--tertiary-color);
  border: 3px solid var(--tertiary-color);
  position: absolute;
  bottom: 120px;
  right: 140px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form p {
  margin: 5px 0 15px;
}

.form-input {
  border: 1px solid var(--tertiary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--tertiary-color);
  width: 100%;
  margin-bottom: 15px;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  display: block;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

/* what we do section */
.intro {
  text-align: center;
}

.intro h2 {
  font-size: 55px;
  color: var(--tertiary-color);
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid #fce138;
  display: inline-block;
}

.intro p {
  line-height: 1.7;
  color: var(--primary-color);
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

/* apply styles to <footer> */
footer {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  display: inline;
  color: var(--primary-color);
  font-size: 30px;
}

footer > div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer > a {
  color: var(--tertiary-color);
}
